# Final Project: SAT Scores and Socioeconomic Factors


__TEAM MEMBERS__:
Anthony Rodriguez, Dania Estrada, Judyth Estrada, Kalito Luna

# Preparing the data as python arrays

In [3]:
import psycopg2

In [4]:
def income_data():
    conn = psycopg2.connect("dbname=north_carolina")
    cur = conn.cursor()
    cur.execute('''
    SELECT * FROM income;
    ''')
    print "Schema: county, 2012, 2013, 2014, 2015, 2016, 2017"
    for row in cur:
        print row
    # close database connection
    cur.close()
    conn.close()

In [5]:
income_data()

Schema: county, 2012, 2013, 2014, 2015, 2016, 2017
('Alamance                 ', '$41,519', '$41,371', '$41,394', '$43,001', '$41,300', '$41,600')
('Alexander                ', '$40,441', '$39,812', '$39,655', '$46,064', '$43,000', '$41,100')
('Alleghany                ', '$32,210', '$32,673', '$34,046', '$37,086', '$35,300', '$36,100')
('Anson                    ', '$32,268', '$32,341', '$32,339', '$33,443', '$32,500', '$35,300')
('Ashe                     ', '$31,965', '$34,333', '$34,080', '$35,155', '$36,500', '$35,200')
('Avery                    ', '$35,568', '$36,071', '$34,727', '$34,933', '$37,100', '$37,100')
('Beaufort                 ', '$38,194', '$38,248', '$38,256', '$39,043', '$40,400', '$41,700')
('Bertie                   ', '$30,586', '$29,615', '$30,414', '$31,610', '$31,200', '$32,000')
('Bladen                   ', '$31,637', '$33,138', '$32,766', '$33,971', '$33,500', '$33,900')
('Brunswick                ', '$44,186', '$42,685', '$48,624', '$47,799', '$47,400', '$48,800')
('Buncombe                 ', '$42,846', '$41,551', '$43,146', '$45,738', '$47,300', '$45,100')
('Burke                    ', '$38,541', '$37,719', '$38,581', '$36,150', '$39,300', '$42,700')
('Cabarrus                 ', '$49,355', '$50,298', '$55,531', '$55,046', '$55,300', '$57,900')
('Caldwell                 ', '$36,860', '$34,876', '$35,127', '$34,811', '$38,700', '$39,600')
('Camden                   ', '$59,522', '$57,113', '$53,563', '$60,537', '$61,700', '$62,000')
('Carteret                 ', '$43,356', '$45,507', '$48,930', '$46,227', '$48,800', '$50,800')
('Caswell                  ', '$37,115', '$38,495', '$39,615', '$37,122', '$42,700', '$40,500')
('Catawba                  ', '$41,782', '$44,339', '$42,080', '$43,777', '$45,100', '$41,700')
('Chatham                  ', '$53,958', '$53,564', '$55,371', '$56,981', '$56,800', '$58,900')
('Cherokee                 ', '$32,963', '$32,913', '$31,370', '$34,476', '$34,600', '$38,300')
('Chowan                   ', '$36,176', '$36,231', '$37,458', '$39,143', '$38,900', '$40,800')
('Clay                     ', '$35,314', '$35,143', '$36,871', '$37,078', '$37,100', '$39,000')
('Cleveland                ', '$38,392', '$37,390', '$38,265', '$40,528', '$39,400', '$40,200')
('Columbus                 ', '$32,518', '$31,282', '$33,765', '$35,026', '$34,300', '$34,500')
('Craven                   ', '$41,791', '$47,291', '$47,087', '$45,022', '$44,000', '$47,800')
('Cumberland               ', '$43,356', '$43,863', '$45,110', '$44,038', '$42,600', '$42,400')
('Currituck                ', '$53,939', '$55,665', '$54,822', '$57,577', '$58,000', '$66,400')
('Dare                     ', '$50,203', '$50,393', '$51,900', '$52,083', '$54,600', '$53,600')
('Davidson                 ', '$40,618', '$41,631', '$43,824', '$40,424', '$43,300', '$46,400')
('Davie                    ', '$46,957', '$50,110', '$49,984', '$49,708', '$47,600', '$52,500')
('Duplin                   ', '$34,672', '$35,587', '$36,075', '$38,106', '$34,100', '$38,400')
('Durham                   ', '$48,023', '$47,007', '$50,889', '$52,331', '$50,700', '$53,900')
('Edgecombe                ', '$33,146', '$32,901', '$32,002', '$33,080', '$31,600', '$32,500')
('Forsyth                  ', '$44,443', '$43,804', '$43,049', '$46,163', '$45,900', '$47,300')
('Franklin                 ', '$45,592', '$42,269', '$42,346', '$39,312', '$48,200', '$48,000')
('Gaston                   ', '$40,332', '$40,969', '$41,614', '$42,461', '$42,100', '$45,000')
('Gates                    ', '$43,010', '$41,437', '$44,273', '$48,194', '$48,400', '$46,400')
('Graham                   ', '$31,863', '$33,041', '$32,883', '$33,553', '$33,800', '$33,800')
('Granville                ', '$45,828', '$48,596', '$46,303', '$48,680', '$49,300', '$50,300')
('Greene                   ', '$38,428', '$35,013', '$35,050', '$39,481', '$37,300', '$35,100')
('Guilford                 ', '$42,415', '$44,229', '$43,299', '$46,093', '$44,800', '$48,300')
('Halifax                  ', '$30,861', '$31,084', '$31,253', '$32,597', '$31,700', '$32,000')
('Harnett                  ', '$40,956', '$40,617', '$44,998', '$45,257', '$45,400', '$48,300')
('Haywood                  ', '$39,987', '$40,114', '$40,022', '$39,320', '$42,800', '$43,600')
('Henderson                ', '$43,589', '$46,165', '$45,168', '$44,561', '$47,300', '$47,300')
('Hertford                 ', '$32,410', '$31,581', '$31,861', '$33,616', '$30,100', '$34,500')
('Hoke                     ', '$43,679', '$42,908', '$44,717', '$43,987', '$44,200', '$42,800')
('Hyde                     ', '$35,206', '$35,810', '$35,301', '$36,681', '$36,900', '$37,100')
('Iredell                  ', '$46,576', '$49,902', '$49,666', '$49,983', '$54,000', '$55,800')
('Jackson                  ', '$36,741', '$37,388', '$37,049', '$40,511', '$38,100', '$41,500')
('Johnston                 ', '$46,922', '$48,380', '$48,773', '$50,904', '$50,100', '$52,700')
('Jones                    ', '$38,578', '$38,230', '$35,159', '$39,602', '$38,900', '$39,700')
('Lee                      ', '$41,999', '$41,506', '$43,424', '$48,061', '$46,100', '$44,300')
('Lenoir                   ', '$36,455', '$32,602', '$35,634', '$34,127', '$36,000', '$37,100')
('Lincoln                  ', '$45,332', '$50,746', '$47,799', '$50,537', '$49,700', '$49,300')
('Macon                    ', '$36,229', '$36,953', '$36,438', '$37,219', '$37,900', '$41,400')
('Madison                  ', '$36,158', '$36,724', '$37,644', '$37,479', '$38,400', '$37,900')
('Martin                   ', '$34,814', '$33,305', '$33,159', '$34,761', '$35,900', '$36,500')
('McDowell                 ', '$34,383', '$35,627', '$36,584', '$36,840', '$37,900', '$37,400')
('Mecklenburg              ', '$52,363', '$52,111', '$55,392', '$54,657', '$59,000', '$57,000')
('Mitchell                 ', '$35,032', '$35,322', '$36,210', '$38,303', '$36,800', '$40,000')
('Montgomery               ', '$34,608', '$30,684', '$35,272', '$35,613', '$38,500', '$39,100')
('Moore                    ', '$47,705', '$47,301', '$49,670', '$50,169', '$51,700', '$52,100')
('Nash                     ', '$42,315', '$43,151', '$40,937', '$41,575', '$43,300', '$43,500')
('New Hanover              ', '$46,129', '$45,890', '$50,890', '$48,651', '$49,900', '$52,500')
('Northampton              ', '$32,168', '$31,668', '$31,217', '$31,732', '$32,100', '$33,300')
('Onslow                   ', '$41,969', '$45,434', '$44,263', '$45,213', '$47,200', '$46,100')
('Orange                   ', '$51,434', '$56,792', '$53,026', '$59,472', '$60,300', '$61,600')
('Pamlico                  ', '$41,442', '$41,325', '$41,004', '$43,517', '$43,100', '$41,000')
('Pasquotank               ', '$39,381', '$40,261', '$43,935', '$40,094', '$44,600', '$42,200')
('Pender                   ', '$43,573', '$44,171', '$43,318', '$44,949', '$45,500', '$49,400')
('Perquimans               ', '$40,772', '$39,112', '$42,494', '$42,504', '$41,300', '$42,300')
('Person                   ', '$42,621', '$42,303', '$42,546', '$42,091', '$45,800', '$43,900')
('Pitt                     ', '$39,519', '$39,713', '$39,343', '$40,940', '$41,800', '$41,900')
('Polk                     ', '$44,756', '$41,851', '$41,719', '$43,665', '$45,500', '$45,700')
('Randolph                 ', '$39,648', '$40,749', '$41,815', '$40,896', '$41,800', '$43,200')
('Richmond                 ', '$31,568', '$32,932', '$30,726', '$32,825', '$34,700', '$33,000')
('Robeson                  ', '$30,627', '$30,931', '$29,965', '$30,248', '$30,400', '$32,100')
('Rockingham               ', '$38,063', '$36,746', '$37,577', '$40,446', '$39,600', '$40,100')
('Rowan                    ', '$38,658', '$40,267', '$40,400', '$41,475', '$45,000', '$44,900')
('Rutherford               ', '$35,057', '$35,208', '$34,193', '$35,544', '$35,600', '$37,000')
('Sampson                  ', '$37,047', '$36,471', '$37,420', '$35,890', '$33,900', '$40,700')
('Scotland                 ', '$31,805', '$32,999', '$31,704', '$32,314', '$32,800', '$35,400')
('Stanly                   ', '$42,854', '$38,301', '$42,816', '$42,801', '$41,900', '$44,900')
('Stokes                   ', '$43,178', '$42,147', '$42,272', '$44,552', '$45,100', '$42,900')
('Surry                    ', '$36,622', '$35,269', '$36,934', '$36,221', '$37,900', '$38,400')
('Swain                    ', '$36,109', '$36,167', '$36,280', '$34,552', '$34,800', '$36,100')
('Transylvania             ', '$40,652', '$41,578', '$40,642', '$40,578', '$44,500', '$45,800')
('Tyrrell                  ', '$31,732', '$33,430', '$30,728', '$32,642', '$32,800', '$33,800')
('Union                    ', '$64,486', '$61,515', '$61,260', '$63,912', '$64,400', '$71,700')
('Vance                    ', '$34,000', '$33,377', '$34,371', '$35,565', '$33,600', '$32,700')
('Wake                     ', '$61,594', '$62,436', '$64,107', '$65,433', '$67,000', '$70,600')
('Warren                   ', '$32,574', '$33,218', '$33,068', '$33,767', '$33,900', '$34,100')
('Washington               ', '$33,293', '$33,278', '$32,545', '$31,596', '$32,900', '$35,100')
('Watauga                  ', '$38,923', '$39,168', '$38,563', '$38,380', '$41,900', '$41,800')
('Wayne                    ', '$40,274', '$39,089', '$38,776', '$41,526', '$36,900', '$41,200')
('Wilkes                   ', '$34,886', '$34,954', '$35,362', '$35,895', '$33,400', '$40,600')
('Wilson                   ', '$36,645', '$37,166', '$37,440', '$40,772', '$39,300', '$41,300')
('Yadkin                   ', '$41,095', '$40,983', '$40,012', '$40,998', '$40,800', '$41,200')
('Yancey                   ', '$36,934', '$36,440', '$36,019', '$35,866', '$36,000', '$36,400')

In [6]:
def dropout_data():
    conn = psycopg2.connect("dbname=north_carolina")
    cur = conn.cursor()
    cur.execute('''
    SELECT * FROM dropout_rates;
    ''')
    print "Schema: county, 2013, 2014, 2015, 2016, 2017"
    for row in cur:
        print row
    # close database connection
    cur.close()
    conn.close()

In [7]:
dropout_data()

Schema: county, 2013, 2014, 2015, 2016, 2017
('Alamance ', 3.31, 3.25, 3.48, 3.93, 3.47)
('Alexander ', 2.49, 2.82, 2.79, 3.13, 2.85)
('Alleghany ', 2.97, 2.54, 2.58, 4.28, 2.42)
('Anson ', 4.06, 1.96, 3.75, 4.57, 4.49)
('Ashe ', 2.48, 2.86, 3.93, 2.14, 1.67)
('Avery ', 1.23, 2.01, 1.35, 1.07, 1.43)
('Beaufort ', 2.05, 2.24, 2.59, 3.05, 3.18)
('Bertie ', 3.12, 2.99, 2.06, 3.28, 2.11)
('Bladen ', 4.22, 4.62, 3.97, 1.48, 2.92)
('Brunswick ', 3.09, 3.2, 3.82, 3.28, 2.48)
('Buncombe ', 2.84, 2.75, 2.31, 2.23, 2.44)
('Burke   ', 1.53, 0.79, 2.02, 2.24, 2.06)
('Cabarrus ', 1.95, 1.71, 1.78, 1.78, 2.35)
('Caldwell ', 1.93, 1.6, 1.7, 1.23, 1.82)
('Camden ', 1.34, 1.96, 2.84, 3.05, 1.78)
('Carteret ', 1.59, 2.29, 3.3, 1.84, 2.54)
('Caswell ', 2.97, 0.75, 4.46, 1.88, 1.28)
('Catawba ', 1.66, 1.81, 2.01, 1.91, 1.45)
('Chatham ', 2.23, 1.88, 2.11, 1.52, 1.55)
('Cherokee ', 0.92, 1.02, 1.44, 1.95, 1.12)
('Chowan  ', 3.79, 3.08, 2.66, 3.63, 1.77)
('Clay ', 1.52, 2.89, 2.05, 0.8, 0.51)
('Cleveland ', 2.67, 2.69, 2.35, 2.22, 2.12)
('Columbus  ', 2.65, 2.59, 1.97, 1.81, 1.75)
('Craven ', 2.33, 2.56, 2.27, 2.47, 2.15)
('Cumberland ', 1.64, 2.22, 2.07, 2.55, 2.31)
('Currituck ', 1.84, 2.1, 1.13, 1.89, 1.72)
('Dare ', 0.68, 1.21, 1.29, 1.28, 1.73)
('Davidson ', 2.25, 2.79, 2.62, 2.27, 2.22)
('Davie ', 2.86, 2.49, 3.4, 3.01, 3.2)
('Duplin ', 2.18, 2.2, 2.19, 2.34, 2.82)
('Durham ', 3.21, 2.88, 2.67, 3.06, 4.21)
('Edgecombe ', 4.04, 2.88, 4.33, 3.96, 3.23)
('Forsyth ', 2.72, 2.28, 2.84, 2.39, 2.52)
('Franklin ', 4.31, 3.0, 4.71, 3.65, 3.23)
('Gaston ', 1.61, 1.84, 2.02, 2.29, 2.21)
('Gates ', 1.69, 2.86, 2.53, 1.89, 0.96)
('Graham ', 3.1, 4.07, 1.09, 3.23, 1.56)
('Granville ', 3.46, 3.45, 3.23, 2.75, 2.78)
('Greene ', 1.81, 1.46, 1.31, 1.84, 0.81)
('Guilford  ', 2.07, 1.97, 2.2, 2.04, 1.87)
('Halifax ', 3.11, 3.1, 4.75, 3.78, 3.73)
('Harnett  ', 3.85, 3.47, 3.46, 4.0, 2.53)
('Haywood ', 1.48, 1.96, 3.43, 2.11, 2.46)
('Henderson ', 1.52, 1.75, 1.37, 1.72, 1.89)
('Hertford ', 2.43, 1.11, 3.22, 2.66, 3.61)
('Hoke ', 2.32, 2.26, 2.22, 1.77, 1.76)
('Hyde ', 2.34, 0.0, 0.61, 3.14, 2.2)
('Iredell', 1.68, 1.76, 2.36, 2.66, 2.41)
('Jackson ', 1.73, 2.19, 3.25, 2.81, 1.54)
('Johnston ', 1.95, 1.82, 1.99, 1.67, 1.38)
('Jones ', 5.11, 1.35, 1.48, 0.32, 0.3)
('Lee ', 3.14, 2.94, 2.35, 2.74, 2.93)
('Lenoir ', 3.01, 2.06, 4.71, 2.71, 2.76)
('Lincoln ', 2.46, 1.64, 2.71, 2.09, 2.36)
('Macon ', 0.9, 0.9, 1.03, 1.69, 1.52)
('Madison ', 2.35, 2.39, 4.03, 1.79, 2.75)
('Martin ', 3.67, 3.12, 2.86, 3.94, 5.28)
('McDowell ', 4.24, 3.55, 4.2, 3.47, 2.71)
('Mecklenburg  ', 3.02, 2.31, 2.33, 2.4, 2.2)
('Mitchell ', 3.61, 3.16, 2.68, 2.83, 3.0)
('Montgomery   ', 2.21, 2.36, 1.73, 2.31, 2.04)
('Moore ', 2.73, 0.97, 1.36, 1.91, 2.23)
('Nash', 3.79, 3.76, 2.94, 3.02, 3.06)
('New Hanover ', 2.29, 2.88, 2.82, 1.65, 1.48)
('Northampton ', 2.17, 3.26, 2.42, 3.3, 1.87)
('Onslow ', 2.32, 1.44, 1.68, 1.81, 2.2)
('Orange ', 2.28, 2.27, 2.04, 2.21, 1.95)
('Pamlico ', 2.78, 2.82, 3.26, 1.75, 0.68)
('Pasquotank ', 1.37, 1.03, 1.24, 1.23, 1.62)
('Pender ', 1.95, 2.48, 1.84, 1.5, 1.85)
('Perquimans ', 2.08, 1.34, 2.25, 2.75, 2.58)
('Person ', 4.19, 3.89, 5.2, 3.49, 2.76)
('Pitt ', 2.78, 2.13, 2.67, 2.01, 2.1)
('Polk ', 2.32, 2.55, 2.01, 1.53, 1.39)
('Randolph ', 2.41, 1.82, 1.82, 1.61, 1.58)
('Richmond  ', 2.47, 3.27, 3.03, 3.27, 3.58)
('Robeson ', 2.34, 2.92, 2.22, 1.71, 2.38)
('Rockingham ', 3.89, 3.8, 3.67, 3.22, 2.16)
('Rowan', 1.17, 1.44, 2.52, 3.1, 3.31)
('Rutherford ', 4.52, 3.4, 3.16, 3.67, 3.46)
('Sampson ', 3.25, 3.34, 4.0, 2.26, 3.84)
('Scotland ', 4.22, 4.18, 4.98, 2.5, 1.6)
('Stanly ', 4.04, 3.19, 2.79, 2.97, 1.64)
('Stokes ', 1.9, 1.81, 3.0, 2.87, 3.64)
('Surry ', 2.75, 2.03, 2.03, 2.05, 2.16)
('Swain ', 3.04, 4.92, 4.52, 3.07, 4.95)
('Transylvania ', 1.97, 3.37, 3.13, 1.83, 0.7)
('Tyrrell ', 2.1, 0.0, 2.34, 1.23, 1.14)
('Union ', 1.38, 1.1, 0.99, 1.08, 1.37)
('Vance ', 4.67, 3.82, 3.22, 2.92, 2.97)
('Wake ', 1.95, 2.22, 2.15, 1.69, 2.76)
('Warren ', 4.1, 4.87, 5.43, 3.91, 4.58)
('Washington ', 2.91, 0.2, 1.08, 2.47, 3.0)
('Watauga ', 2.6, 2.13, 1.66, 1.67, 1.22)
('Wayne  ', 4.0, 2.86, 2.67, 2.64, 2.72)
('Wilkes ', 2.22, 1.71, 2.68, 2.5, 2.59)
('Wilson  ', 3.43, 2.45, 3.1, 3.83, 3.6)
('Yadkin ', 2.15, 1.07, 1.17, 1.74, 0.91)
('Yancey ', 1.6, 1.45, 1.61, 1.54, 1.11)

In [4]:
def sat_scores_data():
    conn = psycopg2.connect("dbname=north_carolina")
    cur = conn.cursor()
    cur.execute('''
    SELECT * FROM sat_scores;
    ''')
    print "Schema: county, math_2011, cr_2011, writing_2011, total_2011, math_2012, cr_2012, writing_2012, total_2012, math_2013, cr_2013, writing_2013, total_2013, math_2014, cr_2014, writing_2014, total_2014, math_2015, cr_2015, writing_2015, total_2015, math_2016, cr_2016, writing_2016, total_2016, erw_2017, math_2017, total_2017"
    for row in cur:
        print row
    # close database connection
    cur.close()
    conn.close()

In [5]:
sat_scores_data()

Schema: county, math_2011, cr_2011, writing_2011, total_2011, math_2012, cr_2012, writing_2012, total_2012, math_2013, cr_2013, writing_2013, total_2013, math_2014, cr_2014, writing_2014, total_2014, math_2015, cr_2015, writing_2015, total_2015, math_2016, cr_2016, writing_2016, total_2016, erw_2017, math_2017, total_2017
(' Alamance                ', 499.0, 467.0, 452.0, 1418.0, 495.0, 472.0, 448.0, 1415.0, 490.0, 469.0, 455.0, 1414.0, 488.0, 476.0, 454.0, 1418.0, 486.0, 473.0, 450.0, 1409.0, 488.0, 473.0, 445.0, 1406.0, 520.0, 521.0, 1041.0)
(' Alexander               ', 488.0, 467.0, 444.0, 1399.0, 513.0, 479.0, 456.0, 1448.0, 485.0, 465.0, 445.0, 1395.0, 506.0, 477.0, 456.0, 1439.0, 501.0, 483.0, 460.0, 1444.0, 484.0, 480.0, 449.0, 1413.0, 533.0, 518.0, 1051.0)
(' Alleghany               ', 490.0, 481.0, 450.0, 1421.0, 510.0, 469.0, 440.0, 1419.0, 489.0, 472.0, 457.0, 1418.0, 482.0, 477.0, 445.0, 1404.0, 490.0, 480.0, 445.0, 1415.0, 425.0, 445.0, 419.0, 1289.0, 466.0, 449.0, 915.0)
(' Anson                   ', 436.0, 427.0, 407.0, 1270.0, 433.0, 430.0, 406.0, 1269.0, 419.0, 423.0, 409.0, 1251.0, 407.0, 412.0, 391.0, 1210.0, 413.0, 413.0, 390.0, 1216.0, 407.0, 406.0, 381.0, 1194.0, 436.0, 436.0, 872.0)
(' Ashe                    ', 522.0, 483.0, 466.0, 1471.0, 531.0, 494.0, 481.0, 1506.0, 509.0, 475.0, 464.0, 1448.0, 512.0, 484.0, 461.0, 1457.0, 509.0, 471.0, 472.0, 1452.0, 489.0, 510.0, 450.0, 1449.0, 566.0, 527.0, 1094.0)
(' Avery                   ', 502.0, 509.0, 468.0, 1479.0, 504.0, 495.0, 477.0, 1476.0, 504.0, 523.0, 499.0, 1526.0, 482.0, 482.0, 451.0, 1415.0, 491.0, 508.0, 466.0, 1465.0, 469.0, 473.0, 438.0, 1380.0, 0.0, 0.0, 0.0)
(' Beaufort                ', 485.0, 457.0, 427.0, 1369.0, 461.0, 443.0, 422.0, 1326.0, 477.0, 463.0, 441.0, 1381.0, 475.0, 463.0, 433.0, 1371.0, 469.0, 454.0, 425.0, 1348.0, 442.0, 440.0, 410.0, 1292.0, 493.0, 481.0, 974.0)
(' Bertie                  ', 410.0, 387.0, 364.0, 1161.0, 421.0, 383.0, 379.0, 1183.0, 404.0, 394.0, 380.0, 1178.0, 466.0, 458.0, 427.0, 1351.0, 466.0, 450.0, 422.0, 1338.0, 447.0, 422.0, 411.0, 1280.0, 490.0, 489.0, 978.0)
(' Bladen                  ', 454.0, 411.0, 399.0, 1264.0, 452.0, 436.0, 411.0, 1299.0, 440.0, 425.0, 400.0, 1265.0, 429.0, 396.0, 393.0, 1218.0, 442.0, 414.0, 415.0, 1271.0, 488.0, 476.0, 441.0, 1405.0, 541.0, 524.0, 1066.0)
(' Brunswick               ', 489.0, 475.0, 460.0, 1424.0, 497.0, 480.0, 462.0, 1439.0, 486.0, 482.0, 466.0, 1434.0, 428.0, 428.0, 399.0, 1255.0, 412.0, 416.0, 390.0, 1218.0, 525.0, 498.0, 470.0, 1493.0, 553.0, 524.0, 1078.0)
(' Buncombe                ', 536.0, 519.0, 492.0, 1547.0, 533.0, 516.0, 489.0, 1538.0, 530.0, 523.0, 502.0, 1555.0, 476.0, 461.0, 442.0, 1379.0, 500.0, 480.0, 470.0, 1450.0, 540.0, 562.0, 544.0, 1646.0, 0.0, 0.0, 0.0)
(' Burke                   ', 514.0, 476.0, 456.0, 1446.0, 516.0, 486.0, 468.0, 1470.0, 513.0, 493.0, 479.0, 1485.0, 551.0, 591.0, 577.0, 1719.0, 553.0, 554.0, 532.0, 1639.0, 485.0, 454.0, 423.0, 1362.0, 547.0, 544.0, 1090.0)
(' Cabarrus                ', 522.0, 497.0, 483.0, 1502.0, 524.0, 499.0, 479.0, 1502.0, 518.0, 499.0, 481.0, 1498.0, 521.0, 495.0, 477.0, 1493.0, 552.0, 527.0, 507.0, 1586.0, 511.0, 512.0, 488.0, 1511.0, 544.0, 540.0, 1084.0)
(' Caldwell                ', 505.0, 477.0, 459.0, 1441.0, 501.0, 480.0, 454.0, 1435.0, 505.0, 495.0, 474.0, 1474.0, 497.0, 498.0, 471.0, 1466.0, 468.0, 467.0, 440.0, 1375.0, 480.0, 480.0, 441.0, 1401.0, 558.0, 553.0, 1110.0)
(' Camden                  ', 479.0, 480.0, 451.0, 1410.0, 506.0, 493.0, 469.0, 1468.0, 480.0, 481.0, 463.0, 1424.0, 456.0, 433.0, 407.0, 1296.0, 452.0, 450.0, 430.0, 1332.0, 544.0, 537.0, 507.0, 1588.0, 596.0, 586.0, 1182.0)
(' Carteret                ', 527.0, 519.0, 489.0, 1535.0, 532.0, 514.0, 492.0, 1538.0, 529.0, 517.0, 495.0, 1541.0, 421.0, 501.0, 451.0, 1373.0, 497.0, 516.0, 476.0, 1489.0, 547.0, 539.0, 506.0, 1592.0, 575.0, 559.0, 1134.0)
(' Caswell                 ', 452.0, 437.0, 424.0, 1313.0, 462.0, 445.0, 436.0, 1343.0, 469.0, 459.0, 441.0, 1369.0, 448.0, 461.0, 423.0, 1332.0, 459.0, 455.0, 422.0, 1336.0, 479.0, 464.0, 434.0, 1377.0, 510.0, 521.0, 1030.0)
(' Catawba                 ', 518.0, 490.0, 461.0, 1469.0, 519.0, 490.0, 465.0, 1474.0, 507.0, 483.0, 463.0, 1453.0, 515.0, 491.0, 464.0, 1470.0, 507.0, 490.0, 462.0, 1459.0, 523.0, 511.0, 466.0, 1500.0, 556.0, 551.0, 1107.0)
(' Chatham                 ', 494.0, 478.0, 461.0, 1433.0, 495.0, 483.0, 466.0, 1444.0, 503.0, 483.0, 468.0, 1454.0, 498.0, 483.0, 467.0, 1448.0, 481.0, 474.0, 457.0, 1412.0, 476.0, 469.0, 433.0, 1378.0, 560.0, 543.0, 1103.0)
(' Cherokee                ', 484.0, 484.0, 463.0, 1431.0, 507.0, 491.0, 466.0, 1464.0, 508.0, 489.0, 472.0, 1469.0, 481.0, 472.0, 431.0, 1384.0, 466.0, 450.0, 407.0, 1323.0, 530.0, 546.0, 507.0, 1583.0, 502.0, 480.0, 982.0)
('Chowan                   ', 457.0, 439.0, 429.0, 1325.0, 487.0, 463.0, 452.0, 1402.0, 455.0, 423.0, 413.0, 1291.0, 457.0, 442.0, 416.0, 1315.0, 446.0, 436.0, 413.0, 1295.0, 512.0, 492.0, 448.0, 1452.0, 550.0, 538.0, 1088.0)
(' Clay                    ', 524.0, 494.0, 492.0, 1510.0, 527.0, 514.0, 485.0, 1526.0, 520.0, 501.0, 490.0, 1511.0, 527.0, 497.0, 479.0, 1503.0, 513.0, 504.0, 496.0, 1513.0, 441.0, 431.0, 408.0, 1280.0, 0.0, 0.0, 0.0)
(' Cleveland               ', 500.0, 470.0, 451.0, 1421.0, 500.0, 478.0, 446.0, 1424.0, 498.0, 475.0, 451.0, 1424.0, 463.0, 455.0, 440.0, 1358.0, 447.0, 456.0, 430.0, 1333.0, 461.0, 439.0, 424.0, 1324.0, 533.0, 508.0, 1040.0)
(' Columbus                ', 467.0, 440.0, 427.0, 1334.0, 455.0, 437.0, 428.0, 1320.0, 436.0, 417.0, 408.0, 1261.0, 425.0, 421.0, 412.0, 1258.0, 417.0, 392.0, 378.0, 1187.0, 0.0, 0.0, 0.0, 0.0, 529.0, 505.0, 1033.0)
(' Craven                  ', 507.0, 489.0, 452.0, 1448.0, 500.0, 485.0, 448.0, 1433.0, 500.0, 479.0, 452.0, 1431.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 403.0, 425.0, 377.0, 1205.0, 524.0, 495.0, 1020.0)
(' Cumberland              ', 476.0, 469.0, 445.0, 1390.0, 473.0, 467.0, 443.0, 1383.0, 461.0, 464.0, 442.0, 1367.0, 465.0, 467.0, 441.0, 1373.0, 462.0, 468.0, 443.0, 1373.0, 426.0, 429.0, 399.0, 1254.0, 560.0, 506.0, 1066.0)
(' Currituck               ', 511.0, 494.0, 466.0, 1471.0, 502.0, 488.0, 450.0, 1440.0, 504.0, 490.0, 460.0, 1454.0, 511.0, 513.0, 471.0, 1495.0, 496.0, 486.0, 473.0, 1455.0, 505.0, 495.0, 464.0, 1464.0, 552.0, 547.0, 1099.0)
(' Dare                    ', 520.0, 500.0, 475.0, 1495.0, 522.0, 489.0, 470.0, 1481.0, 523.0, 501.0, 480.0, 1504.0, 489.0, 498.0, 466.0, 1453.0, 512.0, 517.0, 486.0, 1515.0, 0.0, 0.0, 0.0, 0.0, 525.0, 521.0, 1046.0)
(' Davidson                ', 510.0, 488.0, 463.0, 1461.0, 516.0, 497.0, 473.0, 1486.0, 511.0, 495.0, 477.0, 1483.0, 537.0, 518.0, 492.0, 1547.0, 530.0, 518.0, 491.0, 1539.0, 476.0, 455.0, 438.0, 1369.0, 0.0, 0.0, 0.0)
(' Davie                   ', 523.0, 508.0, 481.0, 1512.0, 531.0, 510.0, 487.0, 1528.0, 526.0, 515.0, 497.0, 1538.0, 422.0, 393.0, 380.0, 1195.0, 405.0, 404.0, 375.0, 1184.0, 404.0, 396.0, 372.0, 1172.0, 562.0, 550.0, 1112.0)
(' Duplin                  ', 462.0, 447.0, 435.0, 1344.0, 461.0, 440.0, 424.0, 1325.0, 457.0, 429.0, 419.0, 1305.0, 519.0, 513.0, 501.0, 1533.0, 529.0, 512.0, 476.0, 1517.0, 467.0, 474.0, 446.0, 1387.0, 541.0, 521.0, 1061.0)
(' Durham                  ', 476.0, 475.0, 452.0, 1403.0, 477.0, 474.0, 448.0, 1399.0, 484.0, 481.0, 461.0, 1426.0, 429.0, 401.0, 392.0, 1222.0, 438.0, 418.0, 412.0, 1268.0, 418.0, 421.0, 385.0, 1224.0, 526.0, 555.0, 1081.0)
(' Edgecombe               ', 468.0, 437.0, 420.0, 1325.0, 442.0, 434.0, 423.0, 1299.0, 432.0, 419.0, 405.0, 1256.0, 448.0, 464.0, 439.0, 1351.0, 478.0, 479.0, 460.0, 1417.0, 495.0, 494.0, 454.0, 1443.0, 466.0, 480.0, 945.0)
(' Forsyth                 ', 506.0, 493.0, 472.0, 1471.0, 511.0, 495.0, 473.0, 1479.0, 505.0, 495.0, 478.0, 1478.0, 425.0, 408.0, 397.0, 1230.0, 446.0, 443.0, 414.0, 1303.0, 0.0, 0.0, 0.0, 0.0, 423.0, 427.0, 850.0)
(' Franklin                ', 487.0, 471.0, 453.0, 1411.0, 490.0, 469.0, 447.0, 1406.0, 496.0, 485.0, 473.0, 1454.0, 528.0, 523.0, 495.0, 1546.0, 524.0, 516.0, 485.0, 1525.0, 502.0, 488.0, 453.0, 1443.0, 531.0, 522.0, 1054.0)
(' Gaston                  ', 495.0, 480.0, 455.0, 1430.0, 494.0, 483.0, 452.0, 1429.0, 492.0, 477.0, 455.0, 1424.0, 476.0, 468.0, 438.0, 1382.0, 487.0, 479.0, 454.0, 1420.0, 493.0, 474.0, 437.0, 1404.0, 589.0, 553.0, 1142.0)
(' Gates                   ', 476.0, 458.0, 424.0, 1358.0, 478.0, 447.0, 424.0, 1349.0, 478.0, 472.0, 444.0, 1394.0, 520.0, 511.0, 483.0, 1514.0, 546.0, 519.0, 485.0, 1550.0, 476.0, 465.0, 419.0, 1360.0, 535.0, 514.0, 1049.0)
(' Graham                  ', 511.0, 476.0, 470.0, 1457.0, 480.0, 469.0, 468.0, 1417.0, 472.0, 471.0, 446.0, 1389.0, 481.0, 461.0, 434.0, 1376.0, 467.0, 474.0, 440.0, 1381.0, 411.0, 397.0, 359.0, 1167.0, 536.0, 524.0, 1060.0)
(' Granville               ', 478.0, 458.0, 446.0, 1382.0, 492.0, 479.0, 455.0, 1426.0, 481.0, 461.0, 446.0, 1388.0, 458.0, 516.0, 447.0, 1421.0, 538.0, 534.0, 512.0, 1584.0, 493.0, 489.0, 464.0, 1446.0, 485.0, 476.0, 961.0)
(' Greene                  ', 433.0, 419.0, 392.0, 1244.0, 443.0, 438.0, 413.0, 1294.0, 431.0, 439.0, 429.0, 1299.0, 529.0, 498.0, 472.0, 1499.0, 510.0, 484.0, 470.0, 1464.0, 545.0, 541.0, 521.0, 1607.0, 532.0, 524.0, 1056.0)
(' Guilford                ', 493.0, 484.0, 468.0, 1445.0, 488.0, 476.0, 460.0, 1424.0, 488.0, 481.0, 464.0, 1433.0, 472.0, 469.0, 456.0, 1397.0, 480.0, 475.0, 438.0, 1393.0, 473.0, 483.0, 419.0, 1375.0, 462.0, 445.0, 907.0)
(' Halifax                 ', 399.0, 390.0, 386.0, 1175.0, 410.0, 384.0, 376.0, 1170.0, 391.0, 377.0, 379.0, 1147.0, 446.0, 439.0, 415.0, 1300.0, 457.0, 454.0, 424.0, 1335.0, 503.0, 496.0, 468.0, 1467.0, 466.0, 443.0, 909.0)
(' Harnett                 ', 472.0, 461.0, 440.0, 1373.0, 476.0, 474.0, 447.0, 1397.0, 466.0, 467.0, 446.0, 1379.0, 381.0, 383.0, 371.0, 1135.0, 394.0, 396.0, 381.0, 1171.0, 513.0, 506.0, 474.0, 1493.0, 519.0, 503.0, 1022.0)
(' Haywood                 ', 535.0, 511.0, 494.0, 1540.0, 505.0, 480.0, 461.0, 1446.0, 510.0, 493.0, 469.0, 1472.0, 410.0, 398.0, 385.0, 1193.0, 418.0, 417.0, 389.0, 1224.0, 516.0, 510.0, 470.0, 1496.0, 0.0, 0.0, 0.0)
(' Henderson               ', 522.0, 518.0, 492.0, 1532.0, 529.0, 513.0, 488.0, 1530.0, 513.0, 510.0, 491.0, 1514.0, 463.0, 469.0, 452.0, 1384.0, 457.0, 473.0, 457.0, 1387.0, 465.0, 463.0, 420.0, 1348.0, 548.0, 551.0, 1098.0)
(' Hertford                ', 412.0, 393.0, 377.0, 1182.0, 391.0, 387.0, 380.0, 1158.0, 409.0, 411.0, 402.0, 1222.0, 518.0, 499.0, 474.0, 1491.0, 521.0, 521.0, 485.0, 1527.0, 516.0, 510.0, 480.0, 1506.0, 435.0, 420.0, 855.0)
(' Hoke                    ', 451.0, 441.0, 425.0, 1317.0, 444.0, 442.0, 420.0, 1306.0, 448.0, 435.0, 421.0, 1304.0, 506.0, 505.0, 486.0, 1497.0, 520.0, 512.0, 499.0, 1531.0, 534.0, 517.0, 494.0, 1545.0, 476.0, 464.0, 941.0)
(' Hyde                    ', 458.0, 453.0, 425.0, 1336.0, 493.0, 460.0, 439.0, 1392.0, 471.0, 432.0, 415.0, 1318.0, 517.0, 520.0, 501.0, 1538.0, 508.0, 524.0, 512.0, 1544.0, 443.0, 451.0, 423.0, 1317.0, 501.0, 512.0, 1012.0)
(' Iredell                 ', 524.0, 502.0, 480.0, 1506.0, 528.0, 507.0, 484.0, 1519.0, 531.0, 510.0, 487.0, 1528.0, 413.0, 404.0, 408.0, 1225.0, 433.0, 434.0, 429.0, 1296.0, 476.0, 471.0, 427.0, 1374.0, 560.0, 554.0, 1114.0)
(' Jackson                 ', 513.0, 495.0, 472.0, 1480.0, 509.0, 502.0, 483.0, 1494.0, 503.0, 494.0, 468.0, 1465.0, 529.0, 533.0, 491.0, 1553.0, 510.0, 527.0, 506.0, 1543.0, 528.0, 470.0, 458.0, 1456.0, 0.0, 0.0, 0.0)
(' Johnston                ', 517.0, 492.0, 470.0, 1479.0, 512.0, 487.0, 460.0, 1459.0, 507.0, 494.0, 470.0, 1471.0, 547.0, 540.0, 511.0, 1598.0, 529.0, 508.0, 506.0, 1543.0, 465.0, 431.0, 396.0, 1292.0, 550.0, 552.0, 1101.0)
(' Jones                   ', 467.0, 439.0, 420.0, 1326.0, 477.0, 421.0, 406.0, 1304.0, 452.0, 450.0, 417.0, 1319.0, 485.0, 449.0, 430.0, 1364.0, 525.0, 480.0, 450.0, 1455.0, 521.0, 501.0, 467.0, 1489.0, 528.0, 516.0, 1044.0)
(' Lee                     ', 497.0, 476.0, 448.0, 1421.0, 493.0, 470.0, 445.0, 1408.0, 490.0, 479.0, 459.0, 1428.0, 481.0, 466.0, 446.0, 1393.0, 460.0, 456.0, 436.0, 1352.0, 488.0, 478.0, 445.0, 1411.0, 522.0, 506.0, 1028.0)
(' Lenoir                  ', 468.0, 444.0, 420.0, 1332.0, 476.0, 464.0, 438.0, 1378.0, 460.0, 447.0, 428.0, 1335.0, 455.0, 437.0, 406.0, 1298.0, 497.0, 457.0, 436.0, 1390.0, 483.0, 470.0, 441.0, 1394.0, 0.0, 0.0, 0.0)
(' Lincoln                 ', 513.0, 478.0, 456.0, 1447.0, 508.0, 480.0, 456.0, 1444.0, 497.0, 476.0, 456.0, 1429.0, 496.0, 490.0, 468.0, 1454.0, 486.0, 472.0, 454.0, 1412.0, 514.0, 512.0, 477.0, 1503.0, 516.0, 514.0, 1030.0)
(' Macon                   ', 505.0, 494.0, 464.0, 1463.0, 502.0, 497.0, 474.0, 1473.0, 492.0, 506.0, 484.0, 1482.0, 515.0, 499.0, 468.0, 1482.0, 509.0, 495.0, 464.0, 1468.0, 504.0, 501.0, 483.0, 1488.0, 529.0, 504.0, 1033.0)
(' Madison                 ', 510.0, 498.0, 461.0, 1469.0, 490.0, 489.0, 455.0, 1434.0, 490.0, 493.0, 466.0, 1449.0, 520.0, 530.0, 487.0, 1537.0, 517.0, 521.0, 508.0, 1546.0, 486.0, 514.0, 484.0, 1484.0, 486.0, 474.0, 960.0)
(' Martin                  ', 474.0, 441.0, 418.0, 1333.0, 472.0, 434.0, 410.0, 1316.0, 480.0, 439.0, 430.0, 1349.0, 502.0, 507.0, 483.0, 1492.0, 509.0, 539.0, 501.0, 1549.0, 480.0, 506.0, 457.0, 1443.0, 562.0, 540.0, 1102.0)
(' McDowell                ', 495.0, 477.0, 460.0, 1432.0, 496.0, 485.0, 466.0, 1447.0, 493.0, 481.0, 473.0, 1447.0, 509.0, 507.0, 478.0, 1494.0, 500.0, 500.0, 465.0, 1465.0, 405.0, 405.0, 371.0, 1181.0, 596.0, 599.0, 1194.0)
(' Mecklenburg             ', 507.0, 495.0, 480.0, 1482.0, 503.0, 487.0, 473.0, 1463.0, 503.0, 493.0, 477.0, 1473.0, 468.0, 437.0, 412.0, 1317.0, 462.0, 438.0, 421.0, 1321.0, 497.0, 501.0, 466.0, 1464.0, 487.0, 471.0, 958.0)
(' Mitchell                ', 485.0, 494.0, 447.0, 1426.0, 493.0, 478.0, 449.0, 1420.0, 504.0, 505.0, 467.0, 1476.0, 567.0, 551.0, 536.0, 1654.0, 562.0, 540.0, 524.0, 1626.0, 0.0, 0.0, 0.0, 0.0, 544.0, 504.0, 1048.0)
(' Montgomery              ', 446.0, 418.0, 417.0, 1281.0, 467.0, 439.0, 425.0, 1331.0, 435.0, 426.0, 416.0, 1277.0, 384.0, 337.0, 361.0, 1082.0, 363.0, 364.0, 343.0, 1070.0, 416.0, 384.0, 363.0, 1163.0, 510.0, 502.0, 1012.0)
(' Moore                   ', 521.0, 504.0, 481.0, 1506.0, 508.0, 488.0, 471.0, 1467.0, 512.0, 505.0, 480.0, 1497.0, 508.0, 522.0, 473.0, 1503.0, 502.0, 508.0, 480.0, 1490.0, 491.0, 486.0, 456.0, 1433.0, 545.0, 535.0, 1081.0)
(' Nash                    ', 485.0, 460.0, 438.0, 1383.0, 480.0, 455.0, 435.0, 1370.0, 470.0, 451.0, 434.0, 1355.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 470.0, 458.0, 428.0, 1356.0, 558.0, 546.0, 1103.0)
(' New Hanover             ', 524.0, 506.0, 483.0, 1513.0, 521.0, 503.0, 477.0, 1501.0, 526.0, 516.0, 494.0, 1536.0, 476.0, 454.0, 428.0, 1358.0, 460.0, 450.0, 425.0, 1335.0, 590.0, 582.0, 567.0, 1739.0, 544.0, 527.0, 1071.0)
(' Northampton             ', 403.0, 374.0, 370.0, 1147.0, 399.0, 386.0, 375.0, 1160.0, 419.0, 393.0, 383.0, 1195.0, 514.0, 504.0, 478.0, 1496.0, 498.0, 500.0, 477.0, 1475.0, 504.0, 511.0, 478.0, 1493.0, 544.0, 535.0, 1079.0)
(' Onslow                  ', 497.0, 479.0, 454.0, 1430.0, 494.0, 480.0, 454.0, 1428.0, 483.0, 478.0, 453.0, 1414.0, 499.0, 489.0, 465.0, 1453.0, 494.0, 483.0, 454.0, 1431.0, 523.0, 530.0, 499.0, 1552.0, 632.0, 627.0, 1258.0)
(' Orange                  ', 523.0, 520.0, 498.0, 1541.0, 529.0, 515.0, 498.0, 1542.0, 523.0, 515.0, 499.0, 1537.0, 493.0, 475.0, 451.0, 1419.0, 498.0, 488.0, 465.0, 1451.0, 444.0, 444.0, 407.0, 1295.0, 486.0, 506.0, 991.0)
(' Pamlico                 ', 526.0, 494.0, 454.0, 1474.0, 517.0, 478.0, 451.0, 1446.0, 498.0, 487.0, 451.0, 1436.0, 599.0, 584.0, 570.0, 1753.0, 606.0, 595.0, 575.0, 1776.0, 496.0, 477.0, 448.0, 1421.0, 535.0, 530.0, 1065.0)
('Pasquotank               ', 464.0, 456.0, 432.0, 1352.0, 462.0, 443.0, 426.0, 1331.0, 443.0, 445.0, 427.0, 1315.0, 610.0, 583.0, 573.0, 1766.0, 609.0, 590.0, 571.0, 1770.0, 496.0, 514.0, 475.0, 1485.0, 532.0, 523.0, 1055.0)
(' Pender                  ', 489.0, 480.0, 456.0, 1425.0, 491.0, 479.0, 460.0, 1430.0, 494.0, 489.0, 469.0, 1452.0, 486.0, 470.0, 431.0, 1387.0, 498.0, 466.0, 432.0, 1396.0, 488.0, 492.0, 449.0, 1429.0, 574.0, 587.0, 1160.0)
(' Perquimans              ', 494.0, 452.0, 435.0, 1381.0, 497.0, 470.0, 446.0, 1413.0, 471.0, 449.0, 417.0, 1337.0, 499.0, 502.0, 478.0, 1479.0, 494.0, 497.0, 472.0, 1463.0, 452.0, 465.0, 445.0, 1362.0, 534.0, 530.0, 1064.0)
(' Person                  ', 476.0, 463.0, 437.0, 1376.0, 488.0, 473.0, 454.0, 1415.0, 489.0, 474.0, 454.0, 1417.0, 464.0, 467.0, 436.0, 1367.0, 462.0, 447.0, 428.0, 1337.0, 434.0, 420.0, 398.0, 1252.0, 554.0, 537.0, 1091.0)
(' Pitt                    ', 506.0, 484.0, 460.0, 1450.0, 486.0, 466.0, 440.0, 1392.0, 496.0, 481.0, 456.0, 1433.0, 463.0, 446.0, 424.0, 1333.0, 473.0, 465.0, 431.0, 1369.0, 409.0, 385.0, 357.0, 1151.0, 554.0, 549.0, 1103.0)
(' Polk                    ', 508.0, 487.0, 459.0, 1454.0, 529.0, 496.0, 487.0, 1512.0, 523.0, 513.0, 513.0, 1549.0, 527.0, 504.0, 460.0, 1491.0, 530.0, 508.0, 472.0, 1510.0, 459.0, 452.0, 417.0, 1328.0, 491.0, 483.0, 974.0)
(' Randolph                ', 504.0, 478.0, 459.0, 1441.0, 494.0, 471.0, 453.0, 1418.0, 490.0, 468.0, 452.0, 1410.0, 451.0, 431.0, 398.0, 1280.0, 450.0, 423.0, 399.0, 1272.0, 474.0, 465.0, 438.0, 1377.0, 455.0, 446.0, 901.0)
(' Richmond                ', 452.0, 437.0, 421.0, 1310.0, 446.0, 435.0, 419.0, 1300.0, 455.0, 451.0, 436.0, 1342.0, 494.0, 476.0, 440.0, 1410.0, 496.0, 476.0, 472.0, 1444.0, 443.0, 442.0, 416.0, 1301.0, 520.0, 504.0, 1024.0)
('Robeson                  ', 450.0, 419.0, 405.0, 1274.0, 441.0, 408.0, 398.0, 1247.0, 432.0, 409.0, 392.0, 1233.0, 473.0, 469.0, 449.0, 1391.0, 478.0, 465.0, 443.0, 1386.0, 461.0, 458.0, 423.0, 1342.0, 528.0, 501.0, 1029.0)
(' Rockingham              ', 487.0, 471.0, 456.0, 1414.0, 472.0, 448.0, 437.0, 1357.0, 466.0, 457.0, 436.0, 1359.0, 452.0, 439.0, 419.0, 1310.0, 450.0, 435.0, 417.0, 1302.0, 448.0, 429.0, 405.0, 1282.0, 499.0, 492.0, 991.0)
(' Rowan                   ', 495.0, 474.0, 453.0, 1422.0, 483.0, 466.0, 446.0, 1395.0, 484.0, 469.0, 452.0, 1405.0, 478.0, 469.0, 442.0, 1389.0, 468.0, 463.0, 442.0, 1373.0, 507.0, 476.0, 438.0, 1421.0, 519.0, 500.0, 1019.0)
(' Rutherford              ', 481.0, 467.0, 452.0, 1400.0, 475.0, 465.0, 441.0, 1381.0, 450.0, 443.0, 424.0, 1317.0, 473.0, 456.0, 421.0, 1350.0, 461.0, 468.0, 447.0, 1376.0, 0.0, 0.0, 0.0, 0.0, 544.0, 533.0, 1078.0)
(' Sampson                 ', 469.0, 449.0, 430.0, 1348.0, 475.0, 451.0, 434.0, 1360.0, 468.0, 459.0, 442.0, 1369.0, 440.0, 433.0, 407.0, 1280.0, 466.0, 455.0, 427.0, 1348.0, 523.0, 533.0, 502.0, 1558.0, 535.0, 530.0, 1066.0)
(' Scotland                ', 458.0, 429.0, 418.0, 1305.0, 434.0, 410.0, 398.0, 1242.0, 446.0, 430.0, 413.0, 1289.0, 424.0, 413.0, 399.0, 1236.0, 430.0, 422.0, 403.0, 1255.0, 0.0, 0.0, 0.0, 0.0, 582.0, 554.0, 1136.0)
(' Stanly                  ', 495.0, 465.0, 442.0, 1402.0, 493.0, 461.0, 440.0, 1394.0, 491.0, 463.0, 445.0, 1399.0, 445.0, 432.0, 401.0, 1278.0, 438.0, 426.0, 404.0, 1268.0, 422.0, 406.0, 405.0, 1233.0, 542.0, 562.0, 1103.0)
(' Stokes                  ', 499.0, 477.0, 453.0, 1429.0, 483.0, 472.0, 443.0, 1398.0, 482.0, 467.0, 455.0, 1404.0, 498.0, 458.0, 438.0, 1394.0, 507.0, 487.0, 448.0, 1442.0, 576.0, 540.0, 531.0, 1647.0, 567.0, 568.0, 1135.0)
(' Surry                   ', 516.0, 486.0, 465.0, 1467.0, 509.0, 479.0, 451.0, 1439.0, 512.0, 482.0, 462.0, 1456.0, 503.0, 507.0, 474.0, 1484.0, 476.0, 491.0, 453.0, 1420.0, 570.0, 543.0, 523.0, 1636.0, 554.0, 553.0, 1108.0)
(' Swain                   ', 473.0, 487.0, 461.0, 1421.0, 490.0, 466.0, 447.0, 1403.0, 472.0, 467.0, 436.0, 1375.0, 511.0, 506.0, 479.0, 1496.0, 515.0, 521.0, 501.0, 1537.0, 597.0, 564.0, 544.0, 1705.0, 515.0, 480.0, 995.0)