# Final Project: SAT Scores and Socioeconomic Factors


__TEAM MEMBERS__:
Anthony Rodriguez, Dania Estrada, Judyth Estrada, Kalito Luna

# Preparing the data as python arrays

In [4]:
import psycopg2

In [16]:
def income_data():
    conn = psycopg2.connect("dbname=north_carolina")
    cur = conn.cursor()
    cur.execute('''
    SELECT * FROM income;
    ''')
    print "Schema: county, 2013, 2014, 2015, 2016, 2017"
    for row in cur:
        print row
    # close database connection
    cur.close()
    conn.close()

In [17]:
income_data()

Schema: county, 2013, 2014, 2015, 2016, 2017
('Alamance                 ', '$41,519', '$41,371', '$41,394', '$43,001', '$41,300', '$41,600')
('Alexander                ', '$40,441', '$39,812', '$39,655', '$46,064', '$43,000', '$41,100')
('Alleghany                ', '$32,210', '$32,673', '$34,046', '$37,086', '$35,300', '$36,100')
('Anson                    ', '$32,268', '$32,341', '$32,339', '$33,443', '$32,500', '$35,300')
('Ashe                     ', '$31,965', '$34,333', '$34,080', '$35,155', '$36,500', '$35,200')
('Avery                    ', '$35,568', '$36,071', '$34,727', '$34,933', '$37,100', '$37,100')
('Beaufort                 ', '$38,194', '$38,248', '$38,256', '$39,043', '$40,400', '$41,700')
('Bertie                   ', '$30,586', '$29,615', '$30,414', '$31,610', '$31,200', '$32,000')
('Bladen                   ', '$31,637', '$33,138', '$32,766', '$33,971', '$33,500', '$33,900')
('Brunswick                ', '$44,186', '$42,685', '$48,624', '$47,799', '$47,400', '$48,800')
('Buncombe                 ', '$42,846', '$41,551', '$43,146', '$45,738', '$47,300', '$45,100')
('Burke                    ', '$38,541', '$37,719', '$38,581', '$36,150', '$39,300', '$42,700')
('Cabarrus                 ', '$49,355', '$50,298', '$55,531', '$55,046', '$55,300', '$57,900')
('Caldwell                 ', '$36,860', '$34,876', '$35,127', '$34,811', '$38,700', '$39,600')
('Camden                   ', '$59,522', '$57,113', '$53,563', '$60,537', '$61,700', '$62,000')
('Carteret                 ', '$43,356', '$45,507', '$48,930', '$46,227', '$48,800', '$50,800')
('Caswell                  ', '$37,115', '$38,495', '$39,615', '$37,122', '$42,700', '$40,500')
('Catawba                  ', '$41,782', '$44,339', '$42,080', '$43,777', '$45,100', '$41,700')
('Chatham                  ', '$53,958', '$53,564', '$55,371', '$56,981', '$56,800', '$58,900')
('Cherokee                 ', '$32,963', '$32,913', '$31,370', '$34,476', '$34,600', '$38,300')
('Chowan                   ', '$36,176', '$36,231', '$37,458', '$39,143', '$38,900', '$40,800')
('Clay                     ', '$35,314', '$35,143', '$36,871', '$37,078', '$37,100', '$39,000')
('Cleveland                ', '$38,392', '$37,390', '$38,265', '$40,528', '$39,400', '$40,200')
('Columbus                 ', '$32,518', '$31,282', '$33,765', '$35,026', '$34,300', '$34,500')
('Craven                   ', '$41,791', '$47,291', '$47,087', '$45,022', '$44,000', '$47,800')
('Cumberland               ', '$43,356', '$43,863', '$45,110', '$44,038', '$42,600', '$42,400')
('Currituck                ', '$53,939', '$55,665', '$54,822', '$57,577', '$58,000', '$66,400')
('Dare                     ', '$50,203', '$50,393', '$51,900', '$52,083', '$54,600', '$53,600')
('Davidson                 ', '$40,618', '$41,631', '$43,824', '$40,424', '$43,300', '$46,400')
('Davie                    ', '$46,957', '$50,110', '$49,984', '$49,708', '$47,600', '$52,500')
('Duplin                   ', '$34,672', '$35,587', '$36,075', '$38,106', '$34,100', '$38,400')
('Durham                   ', '$48,023', '$47,007', '$50,889', '$52,331', '$50,700', '$53,900')
('Edgecombe                ', '$33,146', '$32,901', '$32,002', '$33,080', '$31,600', '$32,500')
('Forsyth                  ', '$44,443', '$43,804', '$43,049', '$46,163', '$45,900', '$47,300')
('Franklin                 ', '$45,592', '$42,269', '$42,346', '$39,312', '$48,200', '$48,000')
('Gaston                   ', '$40,332', '$40,969', '$41,614', '$42,461', '$42,100', '$45,000')
('Gates                    ', '$43,010', '$41,437', '$44,273', '$48,194', '$48,400', '$46,400')
('Graham                   ', '$31,863', '$33,041', '$32,883', '$33,553', '$33,800', '$33,800')
('Granville                ', '$45,828', '$48,596', '$46,303', '$48,680', '$49,300', '$50,300')
('Greene                   ', '$38,428', '$35,013', '$35,050', '$39,481', '$37,300', '$35,100')
('Guilford                 ', '$42,415', '$44,229', '$43,299', '$46,093', '$44,800', '$48,300')
('Halifax                  ', '$30,861', '$31,084', '$31,253', '$32,597', '$31,700', '$32,000')
('Harnett                  ', '$40,956', '$40,617', '$44,998', '$45,257', '$45,400', '$48,300')
('Haywood                  ', '$39,987', '$40,114', '$40,022', '$39,320', '$42,800', '$43,600')
('Henderson                ', '$43,589', '$46,165', '$45,168', '$44,561', '$47,300', '$47,300')
('Hertford                 ', '$32,410', '$31,581', '$31,861', '$33,616', '$30,100', '$34,500')
('Hoke                     ', '$43,679', '$42,908', '$44,717', '$43,987', '$44,200', '$42,800')
('Hyde                     ', '$35,206', '$35,810', '$35,301', '$36,681', '$36,900', '$37,100')
('Iredell                  ', '$46,576', '$49,902', '$49,666', '$49,983', '$54,000', '$55,800')
('Jackson                  ', '$36,741', '$37,388', '$37,049', '$40,511', '$38,100', '$41,500')
('Johnston                 ', '$46,922', '$48,380', '$48,773', '$50,904', '$50,100', '$52,700')
('Jones                    ', '$38,578', '$38,230', '$35,159', '$39,602', '$38,900', '$39,700')
('Lee                      ', '$41,999', '$41,506', '$43,424', '$48,061', '$46,100', '$44,300')
('Lenoir                   ', '$36,455', '$32,602', '$35,634', '$34,127', '$36,000', '$37,100')
('Lincoln                  ', '$45,332', '$50,746', '$47,799', '$50,537', '$49,700', '$49,300')
('Macon                    ', '$36,229', '$36,953', '$36,438', '$37,219', '$37,900', '$41,400')
('Madison                  ', '$36,158', '$36,724', '$37,644', '$37,479', '$38,400', '$37,900')
('Martin                   ', '$34,814', '$33,305', '$33,159', '$34,761', '$35,900', '$36,500')
('McDowell                 ', '$34,383', '$35,627', '$36,584', '$36,840', '$37,900', '$37,400')
('Mecklenburg              ', '$52,363', '$52,111', '$55,392', '$54,657', '$59,000', '$57,000')
('Mitchell                 ', '$35,032', '$35,322', '$36,210', '$38,303', '$36,800', '$40,000')
('Montgomery               ', '$34,608', '$30,684', '$35,272', '$35,613', '$38,500', '$39,100')
('Moore                    ', '$47,705', '$47,301', '$49,670', '$50,169', '$51,700', '$52,100')
('Nash                     ', '$42,315', '$43,151', '$40,937', '$41,575', '$43,300', '$43,500')
('New Hanover              ', '$46,129', '$45,890', '$50,890', '$48,651', '$49,900', '$52,500')
('Northampton              ', '$32,168', '$31,668', '$31,217', '$31,732', '$32,100', '$33,300')
('Onslow                   ', '$41,969', '$45,434', '$44,263', '$45,213', '$47,200', '$46,100')
('Orange                   ', '$51,434', '$56,792', '$53,026', '$59,472', '$60,300', '$61,600')
('Pamlico                  ', '$41,442', '$41,325', '$41,004', '$43,517', '$43,100', '$41,000')
('Pasquotank               ', '$39,381', '$40,261', '$43,935', '$40,094', '$44,600', '$42,200')
('Pender                   ', '$43,573', '$44,171', '$43,318', '$44,949', '$45,500', '$49,400')
('Perquimans               ', '$40,772', '$39,112', '$42,494', '$42,504', '$41,300', '$42,300')
('Person                   ', '$42,621', '$42,303', '$42,546', '$42,091', '$45,800', '$43,900')
('Pitt                     ', '$39,519', '$39,713', '$39,343', '$40,940', '$41,800', '$41,900')
('Polk                     ', '$44,756', '$41,851', '$41,719', '$43,665', '$45,500', '$45,700')
('Randolph                 ', '$39,648', '$40,749', '$41,815', '$40,896', '$41,800', '$43,200')
('Richmond                 ', '$31,568', '$32,932', '$30,726', '$32,825', '$34,700', '$33,000')
('Robeson                  ', '$30,627', '$30,931', '$29,965', '$30,248', '$30,400', '$32,100')
('Rockingham               ', '$38,063', '$36,746', '$37,577', '$40,446', '$39,600', '$40,100')
('Rowan                    ', '$38,658', '$40,267', '$40,400', '$41,475', '$45,000', '$44,900')
('Rutherford               ', '$35,057', '$35,208', '$34,193', '$35,544', '$35,600', '$37,000')
('Sampson                  ', '$37,047', '$36,471', '$37,420', '$35,890', '$33,900', '$40,700')
('Scotland                 ', '$31,805', '$32,999', '$31,704', '$32,314', '$32,800', '$35,400')
('Stanly                   ', '$42,854', '$38,301', '$42,816', '$42,801', '$41,900', '$44,900')
('Stokes                   ', '$43,178', '$42,147', '$42,272', '$44,552', '$45,100', '$42,900')
('Surry                    ', '$36,622', '$35,269', '$36,934', '$36,221', '$37,900', '$38,400')
('Swain                    ', '$36,109', '$36,167', '$36,280', '$34,552', '$34,800', '$36,100')
('Transylvania             ', '$40,652', '$41,578', '$40,642', '$40,578', '$44,500', '$45,800')
('Tyrrell                  ', '$31,732', '$33,430', '$30,728', '$32,642', '$32,800', '$33,800')
('Union                    ', '$64,486', '$61,515', '$61,260', '$63,912', '$64,400', '$71,700')
('Vance                    ', '$34,000', '$33,377', '$34,371', '$35,565', '$33,600', '$32,700')
('Wake                     ', '$61,594', '$62,436', '$64,107', '$65,433', '$67,000', '$70,600')
('Warren                   ', '$32,574', '$33,218', '$33,068', '$33,767', '$33,900', '$34,100')
('Washington               ', '$33,293', '$33,278', '$32,545', '$31,596', '$32,900', '$35,100')
('Watauga                  ', '$38,923', '$39,168', '$38,563', '$38,380', '$41,900', '$41,800')
('Wayne                    ', '$40,274', '$39,089', '$38,776', '$41,526', '$36,900', '$41,200')
('Wilkes                   ', '$34,886', '$34,954', '$35,362', '$35,895', '$33,400', '$40,600')
('Wilson                   ', '$36,645', '$37,166', '$37,440', '$40,772', '$39,300', '$41,300')
('Yadkin                   ', '$41,095', '$40,983', '$40,012', '$40,998', '$40,800', '$41,200')
('Yancey                   ', '$36,934', '$36,440', '$36,019', '$35,866', '$36,000', '$36,400')